# Burp Suite Professional {{ version }}
Branded by VIPHACKER100

## ChangeLog
{{ changelog }}

## Instructions
See [Getting Started](https://github.com/viphacker100/BurpSuiteInstaller#getting-started) section of the readme. 


## Files
 - `burpsuite_pro_patcher_linux_generic.sh` - Patches the currently installed linux version of Burp Suite (Only Activation).
 - `burpsuite_pro_installer_windows_x64_v{{ version }}.exe` - Unofficial Windows installer (JRE + Burp + Activation).
 - `burpsuite_pro_patcher_windows_x86-64.exe` - Patches the currently installed windows version of Burp Suite (Only Activation).
